<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">
    <title>Linea Control</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand "  readonly=»readonly» href="#">Gestor de inspeccion</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" href="./LineaControl.html">Linea de Control</a>
            </li>
          </ul>
          <form class=" ">
            <a class="btn btn-outline-success"  href="../Index.html">Salir</a>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="container-fluid d-flex  justify-content-center my-5" id="lineaControl">
      <div id="LineaDeControl" class="row p-5 border border-dark m-2">
          <div class="p-2 text-center">
              <h1 id="titulo">Linea de control</h1>
              <h2 id="subtitulo">Carga de pares de <b>Primera </b> / <b>Reproceso</b>  / <b>Observado</b> </h2>
          </div>
          <div class="row">
              <div class = "col p-3">
                  <b>Orden De Produccion: </b>
                  <input type=»text»/>
                  <button class="btn btn-outline-primary btn-sm btnGuardar" type="submit">Buscar Orden</button>
                  <br>
              </div>
          </div>
          <div class="row">
              <div class = "col p-3">
                  <b> Nombre Supervisor Calidad: </b>
                  <input type=»text» readonly=»readonly» />
                  <br>
                  <br>
                  <b>Datos Orden Produccion:  </b>
                  <div class="row">
                          <div class="col col-4"><label class="form-label">Modelo: </label></div>
                          <div class="col"><input class="form-control form-control-sm fecha" type="text" name="modelo" readonly=»readonly»></div>
                  </div>
                  <div class="row">
                          <div class="col col-4"><label class="form-label">Color: </label></div>
                          <div class="col"><input class="form-control form-control-sm fecha" type="text" name="color" readonly=»readonly»></div>
                  </div>
                  <div class="row">
                    <div class="col col-4"><label class="form-label">Nro de Linea: </label></div>
                    <div class="col"><input class="form-control form-control-sm fecha" type="text" name="linea" readonly=»readonly»></div>
                   </div>
                   <div class="row">
                    <div class="col col-4"><label class="form-label">Estado: </label></div>
                    <div class="col"><input class="form-control form-control-sm fecha" type="text" name="estado" readonly=»readonly» value="ACTIVA"></div>
                   </div>
              </div>
              
              <div class = "col p-3">
                  <b>Turno: </b><input type=»text» readonly=»readonly» />
                  <br>
                  <br>
                  <div class="row">
                          <div class="col col-4"><label class="form-label">Hora Inicio: </label></div>
                          <div class="col"><input class="form-control form-control-sm hora" type="time" name="horaIncio" readonly=»readonly»></div>
                  </div>
                  <br>
                  <b>Jornada Laboral: </b><input type=»text» readonly=»readonly» />
                  <br>
                  <br>
                  <div class="row">
                    <div class="col col-4"><label class="form-label">Fecha Inicio: </label></div>
                    <div class="col"><input class="form-control form-control-sm hora" type="date" name="fechaInicio" readonly=»readonly»></div>
                  </div>
              </div>
          </div>
        
          <div class="row">
                  <div class="col ">
                      <article class="card" style="padding: 6px; margin: 6px;">
                          <h2>Agregar Par de Primera</h2>
                          <p>HORA: <input type="time" name="hora" id="hora"></p>
                          <div class="row">
                            <div class="col-2"><label class="form-label">Pie: </label></div>
                            <div class="col">
                                <select name="select" style="width: 110px;"> 
                                </select>
                            </div>
                          </div>
                          <button class="btn btn-outline-primary btn-sm btnGuardar" type="submit">Agregar Par de Primera</button>
                      </article>
                    </div>
          </div>
          <div class="row">
            <div class="col ">
                <article class="card" style="padding: 6px; margin: 6px;">
                    <div class="col ">
                    <h2>Agregar Par de Defecto </h2>
                    <p> HORA: <input type="time" name="hora" id="hora"></p>
                    <h2>CINTA</h2>
                <table>
                    <tr>
                        <td>DEFECTO</td>
                        <td>IZQUIERDA</td>
                        <td>DERECHA</td>
                    </tr>
                    <tr>
                        <td>Descocido</td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>Mancha grasa</td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>Desperfecto capellada</td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>Perforación corrida</td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>Error de pintado</td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><input type="checkbox" name="" id=""></td>
                    </tr>
                </table>
                <br>
                <p>
                    TIPO DE DEFECTO:
                    <select name="TipoDefecto">
                        <option>SELECCIONAR</option>
                        <option>REPROCESO</option>
                        <option>OBSERVADO</option>
                      </select>
                </p>
                 <button class="btn btn-outline-primary btn-sm btnGuardar" type="submit">Agregar Par de Defecto</button>
             
                </article>
            </div>

 
          </div>
        
        <div class="row">
          <div class="col">
            <article class="card" style="padding: 6px; margin: 6px;">
                <h2>Contador de Primera</h2>
                <input type=»text» readonly=»readonly» />
            </article>
          </div>
          <div class="col">
              <article class="card" style="padding: 6px; margin: 6px;">
                  <h2>Contador de Observado</h2>
                  <input type=»text» readonly=»readonly» />
              </article>
          </div>
          <div class="col">
              <article class="card" style="padding: 6px; margin: 6px;">
                  <h2>Contador de Reprocesos</h2>
                  <input type=»text» readonly=»readonly» />
              </article>
          </div>
        </div>

      </div>
  </article>
  </main>

</body>
</html>